html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 1px solid black;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    row-gap: 1em;
    background-color: steelblue;
}


.button {
    border: 1px solid black;
    border-radius: 1em;
    color: black;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin: 0;
    background-color: rgb(165, 164, 164);
}

#userInput {
    border: none;
    border-bottom: 0.125em solid black;
    width: 20em;
    background-color: transparent;
}

.word-pos-meaning{
    text-align: left;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

table {
    border: 1px solid black;
}
td:nth-child(odd){
    border-right: 1px solid black;
}
th{
    border-bottom: 1px solid black;
}
.t_meaning th:first-child{
    border-right: 1px solid black;
}

::placeholder {
    color: black;
    opacity: 0.5; /* Firefox */
  }
