*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.container {

    /* align-items: center; */
    display: flex;
    position: absolute;
    /* justify-content: center; */
    flex-direction: column;
    top:0; 
    bottom:0; 
    right:0; 
    left:0;
}

.card {
    margin: auto;
    /* position: relative; */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

