*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    display: flex;
}

.container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    width: 100%;
    border: 1px solid black;
    flex-direction: column;
}

.results{
    color: black;
    border: 1px solid darkblue;
    padding: 5em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.UserInput {
    border: none;
    border-bottom: 0.125em solid black;
    width: 20em;
    background-color: transparent;
}